h1, h2, p, form, body{
	margin: 0;
	color: white;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
*{
	box-sizing: border-box;
}
.container{
	width: 1100px;
	margin: 0 auto;
}
header{
	background-image: url(img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 200px 0;
	color: white;
	position: relative;
	z-index: 1;
}
header h1{
	font-size: 60px;
	margin-bottom: 20px; 
}
header hr{
	border: 3px solid white;
	border-radius: 12px;
	margin-bottom: 20px;
}
header p{
	display: inline-block;
	width: 650px;
	font-size: 16px;
	font-weight: 500px;
	line-height: 25px;
	text-transform: uppercase;
}
header button{
	outline: none;
	vertical-align: top;
	height: 70px;
	width: 220px;
	border: 3px solid white;
	background-color: transparent;
	color: white;
	font-size: 16px;
	font-weight: 500px;
	margin-left: 20px;
}
header .cover{
	background-color: rgba(14%, 16%, 26%, 0.7);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.photo{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 450px);
}
.item{
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.item:nth-child(1){
	background-image: url(img/pic01.jpg);
}
.item:nth-child(2){
	background-image: url(img/pic02.jpg);
	grid-column:span 2;
}
.item:nth-child(3){
	background-image: url(img/pic03.jpg);
	grid-column:span 2;
}
.item:nth-child(4){
	background-image: url(img/pic04.jpg);
}
.item:nth-child(5){
	background-image: url(img/pic05.jpg);
}
.item:nth-child(6){
	background-image: url(img/pic06.jpg);
	grid-column:span 2;
}
.cover1{
	background-color: rgba(122, 192, 216, 0.7);
}
.cover2{
	background-color: rgba(143, 134, 192, 0.7);
}
.cover3{
	background-color: rgba(228, 146, 137, 0.7);
}
.cover4{
	background-color: rgba(223, 182, 144, 0.7);
}
.cover5{
	background-color: rgba(139, 161, 218, 0.7);
}
.cover6{
	background-color: rgba(121, 174, 150, 0.7);
}
.item-cover{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.item-cover:hover{
	background-color: rgba(0, 0, 0, 0); 
}
.item-content{
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.photo h2{
	font-size: 50px;
	border-bottom: 5px solid white;
	padding-bottom: 10px;
	width: 120%;
	margin-bottom: 10px;
}
.photo p{
	letter-spacing: 5px;
	font-size: 20px;
}
.feedback form{
	display: grid;
	grid-template-areas: 
	"name_l email_l"
	"name_i email_i"
	"message_l ."
	"message_i message_i"
	"btn .";
	grid-template-rows: minmax(auto, auto) 50px minmax(auto, auto) 150px 50px;
	grid-gap: 15px;
}
#name_l{
	grid-area: name_l;
}
#email_l{
	grid-area: email_l;
}
#message_l{
	grid-area: message_l;
}
#name_i{
	grid-area: name_i;
}
#email_i{
	grid-area: email_i;
}
#message_i{
	grid-area: message_i;
}
.feedback button{
	grid-area: btn;
	border: none;
	outline: none;
	background-color: white;
	color: #242943;
	font-weight: 300;
	font-size: 20px;
}
.feedback{
	background-color: #242943;
	color: white;
	padding: 100px 0;
}
.feedback h1{
	font-weight: 600;
	text-align: center;
	margin-bottom: 50px;
	font-size: 50px;
	border-bottom: 5px solid white;
	padding-bottom: 10px;
}
input, textarea{
	border: none;
	outline: none;
	background-color: #2a2f4a;
	padding: 5px;
	color: white;
}
label{
	font-weight: 300;
	letter-spacing: 5px;
}
.about{
	background-color: #2a2f4a;
	color: white;
	padding: 100px 0;
}
.about-content h1{
	font-weight: 600;
	text-align: center;
	margin-bottom: 50px;
	font-size: 50px;
	border-bottom: 5px solid white;
	padding-bottom: 10px;
}
.about button{
	outline: none;
	vertical-align: top;
	height: 70px;
	width: 220px;
	border: 3px solid white;
	background-color: transparent;
	color: white;
	font-size: 16px;
	font-weight: 500px;
	margin-left: 20px;
	margin-top: 10px;
}
.about-content p{
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
}
button:hover{
	cursor: pointer;
	border-color: gray;
}
.feedback button:hover{
	cursor: pointer;
	background-color: gray;
}
